<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Trade core test</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Tradecore Test</a>
</nav>
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-3">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#post-create-modal">
                    Create post
                </button>
            </div>
        </div>
        <div class="row mt-5">
            {% for post in posts %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.body }}</p>
                        <p><i class="fa fa-thumbs-up mr-3"></i> <i class="fa fa-trash"></i></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="post-create-modal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div id="data-urls">
    <span data-url="{% url "user_detail" %}" id="user_detail"></span>
    <span data-url="{% url "login" %}" id="login"></span>
    <span data-url="{% url "token_refresh" %}" id="token_refresh"></span>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    let storage = localStorage;


    let setAjaxHeader = () => {
        const access = storage.getItem("access");
        const refresh = storage.getItem("refresh")

        if (!(access && refresh)) {
            toastr.error("You need to login to access this page")
            window.location = $("#data-urls #login").attr("data-url");
        } else {
            console.log({
                Authorization: `Bearer ${access}`,
                "Content-Type": "application/json"
            })
            $.ajaxSetup({
                headers: {
                    Authorization: `Bearer ${access}`,
                    "Content-Type": "application/json"
                }
            })
        }

    }

    let getUserData = () => {
        let url = $("#data-urls #user_detail").attr("data-url")
        $.get(url).done(res => {
            console.log(res);
        }).fail(err => {
            let errorJson = err.responseJSON;
            if (errorJson.code === "token_not_valid") {
                url = $("#data-urls #token_refresh").attr("data-url")
                let data = {
                    "refresh": storage.getItem("refresh")
                }
                $.post(url, JSON.stringify(data)).done(res => {
                    storage.setItem("access", res.access);
                    getUserData();
                }).fail(err => {
                    toastr.error("You need to login to access this page")
                    window.location = $("#data-urls #login").attr("data-url");
                })
            }
        })
    }

    let displayErrors = errors => {
        for (const error in errors) {
            toastr.error(`${error}: ${errors[error]}`)
        }
    }

    let formToObject = $form => {
        let data = {};
        $($form.serializeArray()).each(function (_, field) {
            data[field.name] = field.value;
        });
        return data;
    }

    setAjaxHeader();
    getUserData();

    $("body").on("submit", ".login-form", function (e) {
        e.preventDefault();
        let $this = $(this);
        let url = $this.attr("data-url");
        $.ajax({
            url: url,
            method: "post",
            data: JSON.stringify(formToObject($this)),
            contentType: "application/json",
            processData: false,
            success: res => {
                storage.setItem("access", res.access);
                storage.setItem("refresh", res.refresh);
                setAjaxHeader();
                window.location = "/"
            },
            error: err => {
                let res = err.responseJSON;
                if (res.hasOwnProperty("errors")) {
                    displayErrors(res.errors);
                }
            }
        })
    })
</script>
{% block local_js %}
{% endblock %}
</body>
</html>